* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.fade {
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.712);
height: 100vh;
width: 100vw;
z-index: 5;

}

.modal{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
}

.container_modal {
    background-color: rgb(222, 247, 164);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 400px;
    max-width: 90%;
    padding: 30px;
    z-index: 10;
    border-radius: 0px 7px 7px;

}

.buttons_modal {
    display: flex;
    gap: 20px;
    text-align: center;
}

.btn_modal {
    width: 80px;
    padding: 7px;
    background-color: rgb(36, 209, 209);
    color: aliceblue;
    border: .1px solid rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    
}
.btn_modal:hover {
    background-color: rgb(0, 105, 105);
    cursor: pointer;
}

.hide {
    transition: 1s;
    opacity: 0;
    pointer-events: none;
    /* z-index: -1; */
}

.appear {
    transition: 2s;
    position:fixed;
    /* top: -50%; */
    animation: moviment 2s;
    opacity: 1;
    pointer-events: all;
}

@keyframes moviment{
    from{
        top: -50%;

    }
    to{
        top: 20%;

    }
    
}

.btn_modal_close {
    font-size: 1.2em;
    position: relative;
    left: 20px;
    width: 100px;
    padding: 7px;
    background-color: rgb(73, 80, 80);
    color: rgb(255, 255, 255);
    border:none;
    box-shadow: 1px -2px 3px .5px rgba(0, 0, 0, 0.233);
    border-radius: 7px 40px 0px 0px;
}
.btn_modal_close:hover {
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    /* background-color: #bc9942; */
    background: linear-gradient(90deg, rgba(119,41,115,1) 2%, rgba(248,103,250,1) 24%, rgba(252,142,254,1) 50%, rgba(248,103,250,1) 75%, rgba(168,63,163,1) 98%);
    height: 60px;
}

header a {
    margin: 0px 10px;
}
.img_logo{
    /* background-color: rgba(0, 0, 0, 0.565); */
    width: 200px;
    height: 70%;
    margin: auto;
    margin-left: 50%;
    transform: translate(-50%);

}

.nav {
    transform: translateY(25%);

}

.container_main {
    margin: auto;
    background-color: rgb(224, 197, 250);

}

.contents_1 {
    /* background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); */
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 33%, rgba(0,0,0,0.9416141456582633) 45%, rgba(0,0,0,0.8099614845938375) 60%, rgba(0,0,0,0.5074404761904762) 74%, rgba(0,0,0,0.40940126050420167) 88%, rgba(0,0,0,0.03405112044817926) 100%);
    color: rgb(215, 228, 232);
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 30px 40px;
    width: 80%;
    margin: 70px;
    border-radius: 10px;

}
.container_main > h1 {
    text-align: center;
    padding: 10px;
}

.container_main h3 {
    text-align: center;
    padding: 10px;
}

.img_1 {
    background-image: url('../img/laco.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: left center;
    /* height: 700px; */
    padding: 2px;
}

.footer{
    height: 100px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 20px;
}