<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
        }

        body {
            background-color: rgb(162, 112, 209);
        }

        .div-container{
            display: flex;
            gap: 20px;
            width: 80%;
            align-items: center;
            justify-content: space-between;
            margin: 10px auto;
            padding: 20px 40px;
            background-color: rgb(162, 112, 209);
        }
        .btn-edt {
            width: 80px;
            height: 30px;
            border-radius: 7px;
            background-color: rgb(227, 222, 243);
            border: none;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
            color: rgb(28, 8, 77);
            font-size: 1em;
        }
        .hr {
            width: 80%;
            margin: auto;
            border: none;
            box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.178);
        }
    </style>
</head>
<body>
    <div>
        <div class="div-container">
            <p>Nome do usuário: <strong>teste</strong></p>
        
            <button class="btn-edt">Editar</button>
        </div>
        <p class="id"></p>
        <hr class="hr">
    </div>
</body>
</html>