<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="div-login">
        <img class="img-login" src="/images/person.png" alt="">
        <form action="http://localhost:3000/cursos" method="post" class="form-login">
            <h3>Login</h3>
            <input type="text" name="user" placeholder="Nome do Usuário">
            <input type="password" name="password" placeholder="Senha">
            <p class="alert"><%= alert %></p>
            <div class="div-submit">
                <button type="submit">Entrar</button>
                <a href="http://localhost:3000/cadastro">
                    <p>Criar conta?</p>
                </a>
            </div>

        </form>
    </div>
</body>
</html>