* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    /* background-image: url("../img/fundo-linear.png"); */
    background: linear-gradient(90deg, rgb(223, 223, 223), rgb(168, 168, 168),rgb(223, 223, 223));
}

.container-cursos {
    /* background-color: rgb(99, 59, 6); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


.title-cursos {
    padding: 20px 20px 0px 20px;
    color: rgb(228, 198, 253);
    text-align: center;
}

.div-cursos {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
}

.div-cursos > iframe {
    width: 336px;
    height: 189px;
    border-radius: 3px;
}

.div-cursos > img {

    width: 200px;
    border-radius: 7px;
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.178);

}

.div-cursos > h3{
    color: aliceblue;
}

.div-cursos > button {
    padding: 7px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(90deg, rgb(14, 46, 75), rgb(17, 167, 236));
    color: antiquewhite;
    cursor: pointer;
}

.div-cursos > button:hover {
    background: linear-gradient(90deg, rgb(10, 23, 36), rgb(60, 190, 250));
}

.div-cursos > h3 {
    padding: 10px;
}

.div-cursos > p {
    padding-bottom: 10px;
    
}
button {
    padding: 7px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(90deg, rgb(14, 46, 75), rgb(17, 167, 236));
    color: antiquewhite;
    cursor: pointer;
}