* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d3641;
}

.hidde {
    display: none;
  
}
.hidd {
background-color: rgba(3, 214, 144, 0.123);
}

#hidde {
    display: none; 
}

.done {
    background-color: rgba(3, 214, 144, 0.123);
}

button {
    cursor: pointer;
    z-index: 10;
}

input {
    padding-left: 7px;
    outline-color: #0d3641;
}


input, select {
    background-color: #eeeeee;
}

body {

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.322) , rgba(0, 0, 0, 0.123)), url('../img/pexels-pixabay-289586.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.container-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(210, 212, 218, 0.5);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.219);
    margin: 70px auto;
    max-width: 360px;
    min-width: 220px;
    padding: 30px 20px 70px;
    border-radius: 7px;
}

.container-principal > .todo-header > h1 {
    text-align: center;
    margin: 14px auto;

}

.form-todo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.generic > button {
    background-color: #fff;
    border-radius: 3px;
    height: 27px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
    padding: 7px;
}

.form-todo-list > .add-tarefa {
    position: relative;
    height: 50px;
    width: 232px;
    
}

.form-todo-list .generic > input {
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    height: 27px;

}

.form-todo-list > .add-tarefa > .generic > input {

    width: 200px;

}

.form-todo-list > .add-tarefa > .generic > button > i {
    transition: 0.4s;
}

.form-todo-list > .search > .generic > button > i {
    transition: 0.4s;
}
    
.form-todo-list > .add-tarefa > .generic > button > i:hover {
        color: #02af92;
        scale: 1.1;
}

.form-todo-list > .search > .generic > button > i:hover {
    color: #02af92;
    scale: 1.1;
}

.form-todo-list > .search {
    position: relative;
    height: 50px;
    width: 182px;
    
}

.form-todo-list > .search > .generic > input {

    width: 150px;

}

.form-todo-list > .filter > select {

    border-radius: 3px;
    height: 27px;
    width: 90px;
    margin-top: 4.5px;

}

.form-todo-list > .filter, .search, .add-tarefa {

    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.main-todo-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.div-tarefas {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 7px;
    height: 60px;
    border-radius: 3px;
    padding-left: 7px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.356);
}
.div-tarefas > button {
    justify-self: center;
    align-self: center;
    margin-left: 30px;
    padding: 7px;
    border-radius: 3px;
    transition: 0.4s;
    
}

.div-tarefas > p {
    color: black;
    max-width: 200px;
}

.div-tarefas > button > i:hover {
    color: #02af92;
    scale: 1.3;
}

.one, .two, .tree {
    position: absolute;
}

.div-tarefas > .tree {
    right: 7px;
}

.div-tarefas > .two {
    
    right: 41px;
}

.div-tarefas > .one {
    
    right: 75px;
}

.edit-tarefa {
    height: 300px;
    padding: 20px 0px;
}

.form-edit {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 20px;

}

.form-edit > input {
    height: 29px;
    border-radius: 3px;
    margin-bottom: 21px;
}
.form-edit > textarea {
    border-radius: 3px;
}

.form-edit > .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-edit > .buttons > button {
    height: 30px;
    width: 144px;
    margin: 7px 0px;
    background-color: #0d3641;
    color: #fff;
    border-radius: 3px;
    transition: 0.4s;
    font-size: medium;
}

.form-edit > .buttons > button:hover { 
    background-color: #02af92;
    scale: 1.1;
}
